@import "./variables.css";

.search-main-container {
  min-height     : 100vh;
  background     : var(--main-color);
  margin-bottom  : 1em;
  display        : flex;
  justify-content: center;
  align-items    : center;
}