@import "./variables.css";

.pages-controls {
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : stretch;
  margin-bottom  : 2em;
  margin-top     : 1em;
}

.pages-controls button {
  display   : block;
  background: none;
  border    : 1px solid var(--link-color);
  padding   : 8px;
  font-size : 1em;
  color     : var(--link-color);
  transition: 300ms;
}

.pages-controls button:first-child {
  border-radius: 4px 0px 0px 4px;
}

.pages-controls button:last-child {
  border-radius: 0px 4px 4px 0px;
}

.pages-controls button:hover,
.pages-controls button:disabled {
  background: var(--link-color);
  color     : white;
}